html, body{ height:100%; margin:0; }

body {
    display: flex;
    flex-direction: column;
}

#Milena {
    color: white;
}

.tea {
    color: white;
}

.main {
    color: white;
    text-align: center;
}

.food {
    color: white;
    text-align: center;
}

hr {
    color: white;
}

.section {
    color: black;
    margin-top: 32px;
}

#demo {
    color: white;
    text-align: center;
}

.footer {
    color: #4885ed;
    background-color: #292b2c;
    padding: 25px;
    margin-top: auto;
}

.facebook {
    padding-left: 16px;
}
