#Milena {
    color: white;
}

html,
body,
header,
.view {
  height: 100%;
}

.tea {
    color: white;
}

.main {
    color: black;
    text-align: center;
}

.food {
    color: white;
    text-align: center;
}

hr {
    color: white;
}

.section {
    color: black;
}

#demo {
    color: white;
    text-align: center;
}
