<%- include ./partials/header.ejs%>
<link rel="stylesheet" href="about.css">
<title>About</title>

<div class="font">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <span class="navbar-brand mb-0 h1" id="Milena"><a class="navbar-brand" href="/">Milena</a></span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="tea">Tea</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="food">Food</a>
                </li>
            </ul>
            <span><a class="nav-link aboutMe" href="about">About</a></span>
        </div>
    </nav>


    <div class="container">
        <div class="jumbotron">
            <h1>About the maker of the site and the site itself</h1>
            <hr>
            <p class="lead">My name is Keegan Kavanagh, I am a third year software engineering student at the University of Victoria. I made this site by accident, I started to make it because my girlfriend wanted tea everynight.
                This was just suppposed to be a simple site with one button that picked a random tea. But in the end, I realized I really enjoyed making a website, so I continued and continued and continued. I started to learn more and more and wanted to
                use what I learned, to really understand it. That is how this site became what it is now.
            </p>
        </div>
    </div>


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p>Copyright © 2019 Milena Inc</p>
                </div>
                <div class="col-sm-4">
                    <p class="contact">Contact:</p>
                    <img src="Twitter_Logo_Blue.png" alt="" height="50" width="50">
                    <span>@Milena</span>
                    <p></p>
                    <img src="f_logo_RGB-Blue_58.png" alt="" height="35" width="35">
                    <span class="facebook">@Milena</span>
                </div>
                <div class="col-sm-4">
                    <p>More:</p>
                    <p>Acknowledgements</p>
                    <p>Achievements</p>
                </div>
            </div>
        </div>
    </div>

</div>
