<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Milenas Tea</title>
        <link rel="stylesheet" href="MilenaTea.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1" id="Milena"><a class="navbar-brand" href="/">Milena</a></span>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="tea">Tea</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="food">Food</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="view" style="background-image: url('http://getwallpapers.com/wallpaper/full/7/0/3/990875-free-neutral-backgrounds-1920x1200-ipad.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

            <div class="jumbotron bg-transparent main" id="main">
                <h1 class="display-4">Milenas Website For Decisions</h1>
                <p class="lead">Because she can't make decisions on her own</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 section">
                    <h3>A Litte About Milena</h3>
                    <p>She is studying Biomedical Engineering at the University of Victoria</p>
                </div>
                <div class="col-sm-4 section">
                    <h3>Milenas Likes</h3>
                    <p>Keegan</p>
                </div>
                <div class="col-sm-4 section">
                    <h3 class="links">Links</h3>
                </div>
            </div>
        </div>


        <!-- <div class="container">
            <div class="button">
                <button type="button" class="btn btn-dark btn-lg" id="but">Click me to change colors</button>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron" id="colorChange">
                <h1>The background color changes</h1>
            </div>
        </div> -->



        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <p>Copyright © 2019 Milena Inc</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="contact">Contact:</p>
                        <img src="Twitter_Logo_Blue.png" alt="" height="50" width="50">
                        <span>@Milena</span>
                        <p></p>
                        <img src="f_logo_RGB-Blue_58.png" alt="" height="35" width="35">
                        <span class="facebook">@Milena</span>
                    </div>
                    <div class="col-sm-4">
                        <p>More:</p>
                        <p>Acknowledgements</p>
                        <p>Achievements</p>
                    </div>
                </div>
            </div>
        </div>




    <script src="Milena.js"></script>

    </body>
</html>
