html, body{ height:100%; margin:0; }

body {
    display: flex;
    flex-direction: column;
}

#Milena {
    color: #4885ed;
}

#p1 {
    cursor: pointer;
}

.navbar-custom {
    background-color: #292b2c;
}

.font {
    font-family: Merriweather;
    background-color: #292b2c;
}

.aboutMe {
    color: #4885ed;
}

a.aboutMe:hover{
    color: #4885ed;
}

.main {
    color: #4885ed;
    text-align: center;
}

.section {
    color: #4885ed;
    margin:32px 0px 32px 0px;
}

.footer {
    color: #4885ed;
    background-color: #292b2c;
    padding: 25px;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-top: #4885ed 1px solid;
}

.navbars {
    border-bottom: 1px solid #4885ed;
}

.facebook {
    padding-left: 16px;
}

.button {
    width = 25%
}

.view {
    border-bottom: 1px solid #4885ed;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #4885ed;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-text {
    color: #4885ed;
}
