html, body{ height:100%; margin:0; }

body {
    display: flex;
    flex-direction: column;
}

#Milena {
    color: white;
}

#p1 {
    cursor: pointer;
}

.navbar-custom {
    background-color: #292b2c;
}

.font {
    font-family: Merriweather;
}

.aboutMe {
    color: white;
}

a.aboutMe:hover{
    color: white;
}

.main {
    color: white;
    text-align: center;
}

.section {
    color: black;
    margin:32px 0px 32px 0px;
}

.footer {
    color: #4885ed;
    background-color: #292b2c;
    padding: 25px;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.facebook {
    padding-left: 16px;
}

.button {
    width = 25%
}

#colorChange {
    background-color: purple;
}
