html, body{ height:100%; margin:0; }

body {
    display: flex;
    flex-direction: column;
}

#Milena {
    color: white;
}

.container1 {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 30px;

}

.tea {
    color: white;
}

.aboutMe {
    color: white;
}

a.aboutMe:hover{
    color: white;
}

.main {
    color: white;
    text-align: center;
}

.food {
    color: black;
    text-align: center;
}

hr {
    color: white;
}

.section {
    color: black;
    margin-top: 32px;
}

#demo {
    color: white;
    text-align: center;
}

.footer {
    color: #4885ed;
    background-color: #292b2c;
    padding: 25px;
    margin-top: auto;
}

.facebook {
    padding-left: 16px;
}

body, html,
.view {
    height: 100%;
}
