body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#Milena {
    color: white;
}

.center {
    text-align: center;
    padding: 50px;
}

.container1 {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.table1 {
    text-align: center;
    color: #4885ed;
}

.navbar-custom {
    background-color: #292b2c;
}

.font {
    font-family: Merriweather;
    min-height: 100%;
    position: relative;
    background-color: #292b2c;
}

.tea {
    color: #4885ed;
}

.aboutMe {
    color: #4885ed;
}

a.aboutMe:hover{
    color: #4885ed;
}

.main {
    color: white;
    text-align: center;
}

.food {
    color: #4885ed;
    text-align: center;
}

.questions {
    color: #4885ed;
}

hr {
    border: 0.5px solid #4885ed;
    width: 50%;
}

.section {
    color: black;
    margin-top: 32px;
}

#demo {
    color: #4885ed;
    text-align: center;
}


.footer {
    color: #4885ed;
    background-color: #292b2c;
    padding: 25px;
    position: relative;
    margin-bottom: 0px;
    bottom: 0;
    width: 100%;
    border-top: #4885ed 1px solid;
}

.navbars {
    border-bottom: 1px solid #4885ed;
}

.facebook {
    padding-left: 16px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #4885ed;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-text {
    color: #4885ed;
}
